@import 'TTLakes/stylesheet.css';
@import url('media_style/320px.css');
@import url('media_style/768px.css');
@import url('media_style/1120px.css');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'TT Lakes';
    
}
body{
    position: relative;
    overflow: hidden;
}
.brands{
    background-color:#F8F8F8;
    
}
.repair{
    background-color:white;
    font-size: 17px;
    line-height: 24px;
    color:#7E7E82;
}
.repair--indent{
    padding:16px;
}

.slider--padding{
    padding:16px 0;
   
}


.slider--size{
    width:230px inherit;
}
.slider--link{
    width:230px inherit;
    height:72px;
    background-color:white;
    border:1px solid #EAEAEA;
    border-radius: 4px;
    margin-left:16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.slider--img{
    width:108px;
    height: 32px;
}
.swiper-slide:nth-child(3) .slider--img , .swiper-slide:nth-child(11) .slider--img{
    width:44px;
    height:44px;
}
.swiper-slide:nth-child(5) .slider--img{
    width:52px;
    height:52px;
}
.slider--arrow{
    width: 40px;
    height:40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    position: relative;
}
.slider--arrow::after{
    content: '';
    width:7px;
    height:7px;
    border-left:2px solid #FF3E79;
    border-top:2px solid #FF3E79;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute;
    transform:rotate(130deg);
    left:13px;
    top:13px;
    
}




